#a {
	background-color: rgb(11, 8, 44);
}

#b {
	background-color: rgb(249, 182, 128);
}

#c {
	background-color: rgb(215, 109, 93);
}

#d {
	background-color: rgb(242, 29, 87);
}

#e {
	background-color: rgb(106, 74, 86);
}

