#a {
	background-color: rgb(193, 78, 31);
}

#b {
	background-color: rgb(155, 52, 15);
}

#c {
	background-color: rgb(233, 128, 46);
}

#d {
	background-color: rgb(55, 17, 20);
}

#e {
	background-color: rgb(220, 176, 163);
}

