#a {
	background-color: rgb(152, 110, 81);
}

#b {
	background-color: rgb(118, 87, 72);
}

#c {
	background-color: rgb(185, 136, 88);
}

#d {
	background-color: rgb(80, 57, 53);
}

#e {
	background-color: rgb(208, 175, 117);
}

