#a {
	background-color: rgb(45, 31, 39);
}

#b {
	background-color: rgb(153, 103, 83);
}

#c {
	background-color: rgb(103, 63, 59);
}

#d {
	background-color: rgb(184, 158, 129);
}

#e {
	background-color: rgb(228, 218, 194);
}

