#a {
	background-color: rgb(181, 174, 108);
}

#b {
	background-color: rgb(198, 196, 132);
}

#c {
	background-color: rgb(161, 160, 99);
}

#d {
	background-color: rgb(189, 130, 76);
}

#e {
	background-color: rgb(28, 25, 13);
}

#f {
	background-color: #ffeb3b;
}

#g {
	background-color: #fffde7;
}

#h {
	background-color: #fff9c4;
}

#i {
	background-color: #ffee58;
}

#j {
	background-color: #f57f17;
}

