#a {
	background-color: rgb(238, 14, 13);
}

#b {
	background-color: rgb(158, 227, 242);
}

#c {
	background-color: rgb(28, 22, 30);
}

#d {
	background-color: rgb(222, 107, 149);
}

#e {
	background-color: rgb(247, 250, 9);
}

#f {
	background-color: #f44336;
}

#g {
	background-color: #ffebee;
}

#h {
	background-color: #ffcdd2;
}

#i {
	background-color: #ef5350;
}

#j {
	background-color: #b71c1c;
}

