input {
    color:#000;
    /*width:200px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;*/
}

#entry {
	width:400px;
	margin-top:10px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}


.color-swatches {
	/*margin: 5px 0px -5px 0px;*/
	width:100%;
    margin: 0 auto;
	/*overflow:hidden;*/
}
.color-swatch {
	float: left;
	margin: 0px 5px;
	border-radius: 3px;
	width: 18%;
	height: 140px;
    padding: 56px 0;
    color:white;
    text-shadow: 2px 2px 1px #000;
}

.note {
  margin-top: 180px;
  margin-bottom: 0px;
  font-size: 0.8em;
}

#loading {
  font-size: 2em;
}

h3 {
  margin-top: 20px;
}

#tailored {
	margin-top: 130px;
}

#resTag {
	font-size:1.3em;
}

ul {
	color:#333;
}

li {
	color:#333;
}

a {
	color:#333;
}

#searchHeader{
	margin-top: -10px;
}