<html>
    <head>
      <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
      <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
      <script src="http://code.jquery.com/jquery-latest.js"></script>
      <script src="../static/js/bootstrap.min.js"></script>
      {% if title and state %}
      <title>{{ title }} - {{ state }}</title>
      {% else %}
      <title>Welcome to the tagbar</title>
      {% endif %}
    </head>
  <body>
    <!-- <div>Tag search: <a href="/index">Home</a></div> -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
