{% extends "base.html" %}
{% block content %}
    <!-- Custom styles for this template -->
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Tagbar</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="/index">Home</a></li>
              <li><a href="/query">Search</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
      
    <div class="inner cover">
      <h1 class="cover-heading">Welcome to <b>tagbar</b>!</h1>
      <p class="lead">Here you can find some colors to get you started.</p>
      <p class="lead">
        <a href="/query" class="btn btn-lg btn-default">Begin</a>
      </p>
    </div>

{% endblock %}
