<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="cover-container">
  <div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">Tagbar</h3>
      <nav>
        <ul class="nav masthead-nav">
          <li><a href="/index">Home</a></li>
          <li class="active"><a href="/query">Search</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <h1>Tag Search</h1>
  <form action="" method="post" name="tagsearch">
      {{ form.hidden_tag() }}
      <p>
          Please enter your hashtag:<br>
          # {{ form.tag(size=80) }}<br>
      </p>
      <p>{{ form.remember_me }} Save Search</p>
      <p><input type="submit" value="Tag Search"></p>
  </form>
{% endblock %}
