<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="cover-container">
  <div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand"><a href="/index">Tagbar</a></h3>
      <nav>
        <ul class="nav masthead-nav">
          <li><a href="/index">Home</a></li>
          <li class="active"><a href="/query">Search</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <h1 id="searchHeader">Tag Search</h1>
  <form action="" method="post" name="tagsearch">
      {{ form.hidden_tag() }}
      <div class="lead entry">
          What do you want colors for?<br>
          <p id="entry" >{{ form.tag(size=20) }}</p>
      </div>
      <p><input id="searchInput" type="submit" value="Search" class="btn btn-lg btn-default" onclick="$('#loading').show();"></p>
  </form>
  <div id="loading" style="display:none;">Loading!</div>
{% endblock %}
